<!DOCTYPE html>
<html>
  <head>
    <title>HTML content</title>
    <style>
      <%=styles %>
    </style>
  </head>

  <body>
    <!-- Header -->
    <section class="header">
      <img
        src="https://amalkita.vercel.app/images/logo_revisi.png"
        alt="logo-image"
        class="header-logo"
      />
      <div class="header-title-wrapper">
        <h1 class="header-title">AmalKita</h1>
        <p class="header-subtitle">
          Jl. Masjid An-Nur III No.28, Kel. Grogol Selatan, Jakarta Selatan
        </p>
      </div>
    </section>

    <!-- campaign Data -->

    <section class="campaign-info">
      <h3 class="campaign-info-title">Campaign Info</h3>

      <table class="table">
        <tbody>
          <tr>
            <td class="table-title">Campaign Author</td>
            <td class="table-content"><%= campaign.author.name %></td>
          </tr>
          <tr>
            <td class="table-title">Campaign Name</td>
            <td class="table-content"><%= campaign.title %></td>
          </tr>
          <tr>
            <td class="table-title">Campaign Status</td>
            <td class="table-content"><%= status %></td>
          </tr>
          <tr style="height: 23.5px">
            <td class="table-title">Camapign Date</td>
            <td class="table-content"><%= startDate %> s/d <%= endDate %></td>
          </tr>
          <tr>
            <td class="table-title">Donation Target</td>
            <td class="table-content"><%= donationTarget %></td>
          </tr>
          <tr>
            <td class="table-title">Donaton Funded</td>
            <td class="table-content">
              <%= donationFunded %>
              <span class="font-medium"
                >(<%= percentage %>% of Donation Target</span
              >)
            </td>
          </tr>
          <tr>
            <td class="table-title">Total User Donation</td>
            <td class="table-content"><%= paymentData.meta.total %> User</td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
